# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod~=1.7.0

# requirements.txt

# Core dependencies
torch
openai-whisper
fastapi
uvicorn
python-multipart

# ASR and NLP tools
allosaurus
whisper
speechbrain

# Audio processing
pyaudio
pydub
torchaudio
librosa~=0.10.0

# Visualization
matplotlib~=3.8.0

# Computer vision
opencv-python~=4.8.0

# Audio resampling
resampy~=0.4.0

# Utility
numpy~=1.26.4
tqdm~=4.66.0

# Beat tracking and music analysis
BeatNet
# madmom @ git+https://github.com/CPJKU/madmom.git
